
.carousel-inner {
    height: 700px;
}

#rough-c-inner {
    height: 700px;
}

.carousel-inner .carousel-item img {
    height: 700px;
    object-fit: cover;
}

#rough-c-inner #rough-c-item img {
    height: auto;
    width: 500px;
    object-fit: cover;
}

.carousel-caption h2 {
    color: red;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 150%;
}

.rowposter {
    display: flex;
    overflow-y: hidden;
    /* overflow-x: scroll; */
}

.rowing {
    max-height: 100px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 5px;
}

.rowing:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.largeposter {
    max-height: 300px;
}

::-webkit-scrollbar {
    display: none;
}