<div class="contain mt-5">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="row p-5">
            <div class="mb-3 col-lg-10">
                <input type="text" class="form-control" formControlName="searchMovie" placeholder="search movie here..." >
              </div>
              <div class="col-lg-2">
                  <button class="btn btn-md">search</button>
              </div>
        </div>
      </form>

      <div class="row p-5" *ngIf="result">
        <div class="col-lg-4" *ngFor="let s of searchResult">
            <div *ngIf="s.poster_path">
                <div class="row mb-3">
                    <div class="col-lg-3 mx-auto">
                        <img src="https:/image.tmdb.org/t/p/original/{{s.poster_path}}" 
                        class="" alt="..."
                        [routerLink]="['/movie',s.id]">
                    </div>
                    <div class="col-lg-9">
                        <h4>{{s.original_title}}</h4>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div id="error" class="" *ngIf="!result">
        <div>Ops! :( we can't find the results</div>
    </div>
</div>
