<div class="contain mt-5">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="row">
            <div class="mb-3 col-lg-10">
                <input type="text" class="form-control" formControlName="searchMovie" placeholder="search movie here..." >
              </div>
              <div class="col-lg-2">
                  <button class="btn btn-md">search</button>
              </div>
        </div>
      </form>

      <div class="row mt-5">
        <div class="col-lg-4" *ngFor="let s of searchResult">
            <div class="col-lg-3">
                <img src="https:/image.tmdb.org/t/p/original/{{s.poster_path}}" class="rowing largeposter" alt="...">
            </div>
            <div class="col-lg-9">
                <h2>{{s.original_title}}</h2>
                <p>{{s.overview}}</p>
            </div>
        </div>
      </div>
</div>
