button {
    color : white;
    background-color: red;
}

.btn:hover {
    color: white;
    background-color: red;
}

img {
    width : 100%;
}

h4 {
    color : white;
}

#error {
    color: red;
    display: grid;
    place-items: center;
}
